<%= render 'user_videos/nav' %>



<div class="tab-panel current" id="video-list">
  <div class="panel-header clearfix">
    <form class="pull-right" role="search">
      <div class="form-group right-inner-addon">
        <input type="search" class="form-control" placeholder="视频名称">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>
      <input type="text" placeholder="2015/05/01">
      至
      <input type="text" placeholder="2015/05/01">
      <select class="form-control">
        <option>全部状态</option>
        <option>全部状态</option>
        <option>全部状态</option>
      </select>
    </form>
    <%= button_to '上传文件', new_user_video_path, :class => 'btn btn-green', :method => :get %>
  </div>
  <div class="panel-content-display">
    <% @video_product_groups.each do |g| %>
        <div class="row">
          <div class="row">
            <div class="col-md-12">
              <input type="checkbox">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <a href="<%= video_product_group_path(g) %>">
                <% if g.snapshots.present? %>
                    <%= image_tag g.snapshots.first.get_full_url, :class => 'img-rounded', :alt => '截图制作中' %>
                <% else %>
                    <%= image_tag '', :class => 'img-rounded', :alt => '截图制作中' %>
                <% end %>
              </a>
              <!--
              <select class="form-control">
                <option>方案1</option>
                <option>方案2</option>
                <option>方案3</option>
              </select>
              -->
              状态: <%= g.status_str %>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-3">
                  名称: <%= g.name %>
                </div>
                <div class="col-md-9">
                  创建时间: <%= g.created_at.strftime("%Y-%m-%d %H:%M") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  时长: <%= g.duration_str %>
                </div>
                <div class="col-md-9">
                  播放次数: 1234次
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  拥有者: <%= g.owner.nickname %>
                </div>
                <div class="col-md-9">
                  ID: <%= g.uuid %>
                </div>
              </div>
              <div class="row" style="display:none;">
                <div class="col-md-12">
                  TAG: TAG1 TAG1 TAG1 TAG1 TAG1 TAG1 TAG1
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-blue">编辑</button>
                  <button class="btn btn-blue">代码</button>
                  <button class="btn btn-blue" id="btn-video-clip" style="display:none">剪辑</button>
                  <button class="btn btn-gray">删除</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


