<%= form_for(@video_list) do |f| %>
    <% if @video_list.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@video_list.errors.count, "error") %> prohibited this video_list from being saved:</h2>

          <ul>
            <% @video_list.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <% current_user.company.members.company_members.active.each do |member| %>
        <%= f.check_box :members, { :multiple => true, :checked => @privilege_users.index(member).present? }, member.id, nil %>
        <%= label_tag "video_list[members][#{member.id}]", member.nickname  %>
        <br>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
