<div class="panel is-current">
    <div class="panel-header clearfix">
        <div class="l-right"><a href="/" class="link-button-success">返回首页</a></div>
    </div>
    <div class="panel-content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
          <div class="row form-title">
                <div class="cols large-2 l-text-right">修改帐户信息</div>
            </div>
            <div class="row">
                <div class="cols large-2 l-text-right">
                    <label for="user-name">用户名:</label>
                </div>
                <div class="cols large-4">
                  <%= f.text_field :username %></p>  
                  </div>
            </div>
            <% if current_account.encrypted_password.present? %>
            <div class="row">
                <div class="cols large-2 l-text-right">
                    <label for="old-password">原密码:</label>
                </div>
                <div class="cols large-4">
                  <%= f.password_field :current_password, autocomplete: "off" %>
                  </div>
            </div>
            <% end %>
            <div class="row">
                <div class="cols large-2 l-text-right">
                    <label for="new-password">新密码:</label>
                </div>
                <div class="cols large-4">
                  <%= f.password_field :password, autocomplete: "off" %>
                  </div>
            </div>
            <div class="row">
                <div class="cols large-2 l-text-right">
                    <label for="new-password-confirm">再次输入密码:</label>
                </div>
                <div class="cols large-4">
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>
            </div>
            <div class="row">
                <div class="cols large-2 l-text-right">
                    <label for="user-email">邮箱地址:</label>
                </div>
                <div class="cols large-4">
                  <%= f.email_field :email, autofocus: true %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>还有没确认邮箱: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  </div>
            </div>
            <div class="row">
                <div class="cols large-2 l-text-right">
                    <label for="user-remark">其他信息:</label>
                </div>
                <div class="cols large-6">
                  <%= text_area_tag(:signature, (current_user && current_user.signature)) %>
                </div>
            </div>
            <div class="row form-submit">
                <div class="cols large-10 offset-by-2">
                    <button type="submit" class="btn-success">保存</button><a href="/" class="link-button-cancel">取消</a>
                </div>
            </div>
      <% end %>
    </div>
</div>
