<table class="table table-hover panel-table">
  <thead>
  <tr>
    <th></th>
    <th>编号</th>
    <th>用户名称</th>
    <th>登录IP</th>
    <th>最后登陆时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @company_admins.each do |admin| %>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td><%= admin.id %></td>
        <td><%= admin.nickname %></td>
        <td><%= admin.account.last_sign_in_ip %></td>
        <td><%= admin.account.last_sign_in_at %></td>
        <td>
          <%= link_to '降为普通成员', downgrade_company_member_path(@company, admin), :method => :patch %>
          <%= link_to '冻结', inactivate_company_member_path(@company, admin), :method => :patch %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="panel-footer">
  <%= paginate @company_admins %>
</div>

