  <script type="text/javascript">
  jQuery(document).ready(function($) {
    ['#transcoding_video_fps', '#video_main_frame_time'].forEach(function(e){
      $(e).on('change  paste keyup', function () {
        var video_main_frame_time =  parseInt($(this).val());       
        var fps = parseInt($("#transcoding_video_fps").val()); 
        var gop = video_main_frame_time * fps;
        $("#transcoding_video_gop").val(gop ? gop : 250); 
      });
    });
    $('#scanmode').change(
      function(){
        if ($(this).is(':checked')) {
          $("#transcoding_video_scanmode").val('interlaced'); 
        }else{
          $("#transcoding_video_scanmode").val('progressive'); 
        }
      });
    $('#width_and_height').on('change', function (e) {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;
      var size = valueSelected.split('|');
      var width = parseInt(size[0]);
      var height = parseInt(size[1]);
      $("#transcoding_width").val(width === '保留' ? "" : width); 
      $("#transcoding_height").val(height === '长宽' ? "" : height); 
    });
  });

</script>
<div class="panel-content">
  <div class="row">
<div class="col-md-9">
  <%= form_for(@transcoding, html:{class: 'form-horizontal'}) do |f| %>
  <% if @transcoding.errors.any? %>
    <div id="error_explanation">
      <h2> 发生两<%= pluralize(@transcoding.errors.count, "") %>个错误</h2>

      <ul>
      <% @transcoding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :名称,  :class => "col-md-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name ,  class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :输出格式,  :class => "col-sm-3 control-label"  %><br>
          <div class="col-md-8">
    <%= f.select :container, Settings.transcoding.container , {}, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :转码速度 ,  :class => "col-sm-3 control-label" %><br>
          <div class="col-md-8">
    <%= f.select :video_preset, Settings.transcoding.video_preset , {}, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :视频编码,  :class => "col-sm-3 control-label"  %><br>
          <div class="col-md-8">
    <%= f.text_field :video_codec, :value => Settings.transcoding.video_codec, :readonly => true,  class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :音频编码,  :class => "col-sm-3 control-label"  %><br>
          <div class="col-md-8">
    <%= f.select :audio_codec, Settings.transcoding.audio_codec , {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :视频码流 ,  :class => "col-sm-3 control-label" %><br>
          <div class="col-md-8">
    <%= f.number_field :video_bitrate,  class: 'form-control' %>
    <span>视频平均码率,值范围[10,50000],单位Kbps</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :音频码流,  :class => "col-sm-3 control-label"  %><br>
          <div class="col-md-8">
    <%= f.number_field :audio_bitrate,  class: 'form-control'  %>
    <span>输出文件的音频码率,[8,1000],单位Kbps,默认值是128</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :视频帧率,  :class => "col-sm-3 control-label" %><br>
          <div class="col-md-8">
    <%= f.number_field :video_fps ,  class: 'form-control' %>
    <span>帧率,默认值取输入文件帧率,当输入文件帧率超过60时取60,值范围(0,60]</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :关键帧间隔 ,  :class => "col-sm-3 control-label" %><br>
          <div class="col-md-8">
    <%= text_field_tag :video_main_frame_time  , (@transcoding.video_fps && @transcoding.video_gop && (@transcoding.video_gop.to_i / @transcoding.video_fps.to_i)),  class: 'form-control' %>
    <span>关键帧间隔时间 ,值范围[8,50],默认值10</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :视频隔行扫描,  :class => "col-sm-3 control-label"  %><br>
          <div class="col-md-8">
    <%= check_box_tag(:scanmode, '1',  checked = @transcoding.video_scanmode == 'interlaced') %><span>是</span>

<!--     interlaced
    progressive
 -->  
    </div>
</div>
  <div class="form-group">
    <%= f.label :缓冲区大小,  :class => "col-sm-3 control-label"  %><br>
          <div class="col-md-6">
    <%= f.number_field :video_bufsize ,  class: 'form-control' %>
    <span>缓冲区大小,默认值6000,值范围[1000,128000],单位Kb</span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :长宽 , :class => "col-sm-3 control-label" %>
          <div class="col-md-6">
    <%= select_tag(:width_and_height,  options_for_select(Settings.transcoding.width_and_height.invert.to_a, "#{@transcoding.width}|#{@transcoding.height}"), {:class => 'form-control player_size' }) %>
    <span>宽,默认值是视频原始宽度,值范围[128,4096],单位px</span>
    </div>
  </div>
    <%= f.hidden_field :video_gop %>
    <%= f.hidden_field :video_scanmode %>
    <%= f.hidden_field :width %>
    <%= f.hidden_field :height %>

    <%= f.hidden_field :audio_samplerate, :value => 44100  %>
    <%= f.hidden_field :audio_channels, :value => 2 %>
    <%= f.hidden_field :video_profile, :value => Settings.transcoding.video_profile %>
  <hr>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
  </div>
</div>

