<%= form_for(@transcoding) do |f| %>
  <% if @transcoding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transcoding.errors.count, "error") %> prohibited this transcoding from being saved:</h2>

      <ul>
      <% @transcoding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :output_format %><br>
    <%= f.text_field :output_format %>
  </div>
  <div class="field">
    <%= f.label :quality %><br>
    <%= f.text_field :quality %>
  </div>
  <div class="field">
    <%= f.label :speed %><br>
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label :audio_encode %><br>
    <%= f.text_field :audio_encode %>
  </div>
  <div class="field">
    <%= f.label :audio_sample_rate %><br>
    <%= f.text_field :audio_sample_rate %>
  </div>
  <div class="field">
    <%= f.label :audio_code_rate %><br>
    <%= f.text_field :audio_code_rate %>
  </div>
  <div class="field">
    <%= f.label :video_line_scan %><br>
    <%= f.text_field :video_line_scan %>
  </div>
  <div class="field">
    <%= f.label :h_w_percent %><br>
    <%= f.number_field :h_w_percent %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
