<%=  render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-template">
  <div class="panel-header clearfix">
    <select class="pull-right btn-select btn-select-white">
      <option>转码模板</option>
      <option>转码模板</option>
      <option>转码模板</option>
    </select>
    <form class="pull-right" role="search">
            <div class="form-group right-inner-addon">
              <input class="form-control" placeholder="模版名称/用户名" type="search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
    </form>
    <a href="<%= new_transcoding_path %>" class="btn btn-select-green ">增加模板</a>
  </div>
        <table class="table table-hover panel-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>模板名称</th>
        <th>模板类型</th>
        <th>创建用户</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
        <th>操作</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>
      <% @transcodings.each do | transcoding | %>
      <tr>
        <td><%=  transcoding.id %></td>
        <td><%=  transcoding.name %></td>
        <td>电脑客户端</td>
        <td><%=  transcoding.user && transcoding.user.nickname %></td>
        <td><%=  transcoding.created_at  %></td>
        <td><%=  transcoding.updated_at  %></td>
        <td>
          <%= link_to '查看', transcoding_path(transcoding) %>
            <%= link_to '修改', edit_transcoding_path(transcoding),  'data-no-turbolink' => true  %>
            <%= link_to '删除', transcoding, method: :delete, data: { confirm: '你确定要删除?' } %>
          </td>
        <td>1 231456</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="panel-footer">
    <%=  paginate @transcodings %>
  </div>
      </div>