<%= render 'user_videos/nav' %>
<div id="video-transcoding-template" class="panel is-current">
    <div class="panel-header clearfix">
        <form class="l-right clearfix">
            <div class="form-input-addon">
                <input type="search" placeholder="模版名称/用户名"><i class="fa fa-search"></i>
            </div>
            <select class="select2-single select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                <option>选项1
                </option>
                <option>选项2
                </option>
                <option>选项3
                </option>
                <option>选项4
                </option>
                <option>选项5
                </option>
            </select>
        </form>
        <%= link_to '添加转码模版', new_transcoding_path, 'class' => 'link-button-success btn-show-panel', 'data-no-turbolink' => true %>
    </div>
    <div class="panel-content">
        <table summary="转码模版列表" class="table">
            <thead>
                <tr>
                    <th>模版名称</th>
                    <th>模版类型</th>
                    <th>创建用户</th>
                    <th>创建时间</th>
                    <th>最后修改时间</th>
                    <th>操作</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
            <% @transcodings.each do |transcoding| %>
                <tr>
                    <td><%= transcoding.name %></td>
                    <td>type</td>
                    <td><%= transcoding.owner && transcoding.owner.nickname %></td>
                    <td><%= transcoding.created_at && transcoding.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                    <td><%= transcoding.updated_at && transcoding.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                    <td>
                        <%= link_to '修改', edit_transcoding_path(transcoding), 'data-no-turbolink' => true %>
                        <%= link_to '删除', transcoding, method: :delete, data: {confirm: '你确定要删除?'} %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <%= paginate @transcodings %>
    </div>
</div>
