<p id="notice"><%= notice %></p>

<h1>Listing Transcodings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcodings.each do |transcoding| %>
      <tr>
        <td><%= transcoding.name %></td>
        <td><%= transcoding.user_id %></td>
        <td><%= link_to 'Show', transcoding %></td>
        <td><%= link_to 'Edit', edit_transcoding_path(transcoding) %></td>
        <td><%= link_to 'Destroy', transcoding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transcoding', new_transcoding_path %>
