<%= render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-solution">
<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>名称</dt>
  <dd><%= @transcoding.name %></dd>

   <dt>转码速度</dt>
  <dd><%= @transcoding.video_preset  %></dd>
 
  <dt>输出格式</dt>
  <dd><%= @transcoding.container  %></dd>
  
  <dt>视频编码</dt>
  <dd><%= @transcoding.video_codec  %></dd>

  <dt>音频编码</dt>
  <dd><%= @transcoding.audio_codec  %></dd>


  <dt>视频码流</dt>
  <dd><%= @transcoding.video_bitrate  %> Kbps </dd>

  <dt>音频码率</dt>
  <dd><%= @transcoding.audio_bitrate  %> Kbps </dd>

   <dt>视频帧率</dt>
  <dd><%= @transcoding.video_fps  %></dd>
 
  <dt>宽</dt>
  <dd><%= @transcoding.width  %></dd>
  
  <dt>高</dt>
  <dd><%= @transcoding.height  %></dd>
  
  <dt>帧率</dt>
  <dd><%= @transcoding.video_fps  %> 帧/每秒</dd>
  
  <dt>关键帧间隔</dt>
  <dd><%= @transcoding.video_gop /  @transcoding.video_fps  %> 秒</dd>
  
  <dt>缓冲区大小</dt>
  <dd><%= @transcoding.video_bufsize  %> Kb</dd>
  
</dl>


<%= link_to 'Edit', edit_transcoding_path(@transcoding) %> |
<%= link_to 'Back', transcodings_path %>

</div>