<%= render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-solution">
<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>名称</dt>
  <dd><%= @transcoding.name %></dd>
  
  <dt>输出格式</dt>
  <dd><%= @transcoding.container  %></dd>
  
  <dt>视频编码</dt>
  <dd><%= @transcoding.video_codec  %></dd>

  <dt>视频码流</dt>
  <dd><%= @transcoding.video_bitrate  %>Kbps </dd>
  
  <dt>宽</dt>
  <dd><%= @transcoding.width  %></dd>
  
  <dt>高</dt>
  <dd><%= @transcoding.height  %></dd>
  
  <dt>帧率</dt>
  <dd><%= @transcoding.video_fps  %></dd>
  
  <dt>关键帧间最大帧数</dt>
  <dd><%= @transcoding.video_gop  %></dd>
  
  <dt>视频算法器预置</dt>
  <dd><%= @transcoding.video_preset  %></dd>
  
  <dt>缓冲区大小</dt>
  <dd><%= @transcoding.video_bufsize  %></dd>
  
  <dt>视频码率峰值</dt>
  <dd><%= @transcoding.video_maxrate  %></dd>
  
  <dt>视频总码率上限</dt>
  <dd><%= @transcoding.video_bitrate_bnd_max  %></dd>
  
  <dt>视频总码率下限</dt>
  <dd><%= @transcoding.video_bitrate_bnd_min  %></dd>
  
  <dt>音频编解码格式</dt>
  <dd><%= @transcoding.audio_codec  %></dd>
  
  <dt>采样率</dt>
  <dd><%= @transcoding.audio_samplerate  %></dd>
  
  <dt>音频码率</dt>
  <dd><%= @transcoding.audio_bitrate  %></dd>
  
  <dt>声道数</dt>
  <dd><%= @transcoding.audio_channels  %></dd>
  
</dl>


<%= link_to 'Edit', edit_transcoding_path(@transcoding) %> |
<%= link_to 'Back', transcodings_path %>

</div>