<%= render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-solution">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transcoding.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @transcoding.user_id %>
</p>


<%= link_to 'Edit', edit_transcoding_path(@transcoding) %> |
<%= link_to 'Back', transcodings_path %>

</div>