<div class="panel-content">
    <%= form_for(@advertise_strategy, html:{class: 'form-horizontal'}) do |f| %>
        <div class="row form-title">
            <div class="cols large-2 l-text-right"><%= t controller.action_name %>广告方案</div>
        </div>
        <% if @advertise_strategy.errors.any? %>
            <div id="error_explanation">
                <h2>有 <%= @advertise_strategy.errors.count %> 个错误发生导致「广告方案」无法被保存</h2>

                <ul>
                    <% @advertise_strategy.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="row">
            <div class="cols large-2 l-text-right">
                <label for="ad-solution-name">广告方案名称:</label>
            </div>
            <div class="cols large-6">
                <div class="row">
                    <div class="cols large-6">
                        <%= f.text_field :name  %>
                    </div>
                    <div class="cols large-6 form-description">(5-20字符)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cols large-2 l-text-right">
                <label for="ad-op-select">片头广告选择:</label>
            </div>
            <div class="cols large-3">
                <% 
                        ad_front = {}
                Advertise::Resource.where(user_id: current_user.uid).where("ad_type in (?)", ['all', 'ad_front']).each do |ad |
                    ad_front[ad.name] = ad.id
                end
            %>
        <%= f.select :front_ad, ad_front , {}, {:class => 'form-control'} %>
    </div>
</div>
<div class="row">
    <div class="cols large-2 l-text-right">
        <label for="ad-ed-select">片尾广告选择:</label>
    </div>
    <div class="cols large-3">
        <div>
            <% 
                    ad_end = {}
            Advertise::Resource.where(user_id: current_user.uid).where("ad_type in (?)", ['all', 'ad_end']).each do |ad |
                ad_end[ad.name] = ad.id
            end
        %>
    <%= f.select :end_ad, ad_end , {}, {:class => 'form-control'} %>
</div>
        </div>
    </div>
    <div class="row">
        <div class="cols large-2 l-text-right">
            <label for="ad-pause-select">暂停广告选择:</label>
        </div>
        <div class="cols large-3">
            <div>
                <% 
                        ad_pause = {}
                Advertise::Resource.where(user_id: current_user.uid).where("ad_type in (?)", ['all', 'ad_pause']).each do |ad |
                    ad_pause[ad.name] = ad.id
                end
            %>
        <%= f.select :pause_ad, ad_pause , {}, {:class => 'form-control'} %>
    </div>
</div>
      </div>
      <div class="row">
          <div class="cols large-2 l-text-right">
              <label for="ad-suspension-select">悬浮广告选择:</label>
          </div>
          <div class="cols large-3">
              <div>
                  <% 
                          ad_float = {}
                  Advertise::Resource.where(user_id: current_user.uid).where("ad_type in (?)", ['all', 'ad_float']).each do |ad |
                      ad_float[ad.name] = ad.id
                  end
              %>
          <%= f.select :float_ad, ad_float , {}, {:class => 'form-control'} %>
      </div>
  </div>
      </div>
      <div class="row">
          <div class="cols large-2 l-text-right">
              <label for="ad-scroll-select">滚动广告选择:</label>
          </div>
          <div class="cols large-3">
              <div>
                  <% 
                          ad_scroll = {}
                  Advertise::Resource.where(user_id: current_user.uid).where("ad_type in (?)", ['all', 'ad_scroll']).each do |ad |
                      ad_scroll[ad.name] = ad.id
                  end
              %>     
          <%= f.select :scroll_ad, ad_scroll, {}, {:class => 'form-control'} %>
      </div>
  </div>
      </div>
      <div class="row form-submit">
          <div class="cols large-6 offset-by-2">
              <button type="submit" class="btn-success">保存</button>
              <a data-panel="advertisement-solution" href="<%= advertise_strategies_path %>" class="link-button-cancel btn-show-panel">取消</a>
          </div>
      </div>
  <% end %>
  </div>
