<%=  render 'advertise/nav' %>

<div class="tab-panel current" id="advertisement-solution">
  <div class="panel-header clearfix">
    <form class="pull-right" role="search">
            <div class="form-group right-inner-addon">
              <input class="form-control" placeholder="广告方案名称" type="search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
    </form>
    <a type="button" class="btn btn-green" href="<%=  new_advertise_strategy_path %>">添加广告方案</a>
  </div>
  <table class="table table-hover panel-table">
    <thead>
      <tr>
        <th>编号</th>
        <th>广告资源</th>
        <th>片头广告</th>
        <th>片尾广告</th>
        <th>暂停广告</th>
        <th>悬浮广告</th>
        <th>滚动字幕</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @advertise_strategies.each do | strategy| %>
      <tr>
        <td><%=  strategy.id %></td>
        <td><%=  strategy.name %></td>
        <td>
    <select class="form-control">
      <option>广告资源1</option>
      <option>广告资源2</option>
      <option>广告资源3</option>
    </select>
        </td>
        <td>
    <select class="form-control">
      <option>广告资源1</option>
      <option>广告资源2</option>
      <option>广告资源3</option>
    </select>
        </td>
        <td>
    <select class="form-control">
      <option>广告资源1</option>
      <option>广告资源2</option>
      <option>广告资源3</option>
    </select>
        </td>
        <td>
    <select class="form-control">
      <option>广告资源1</option>
      <option>广告资源2</option>
      <option>广告资源3</option>
    </select>
        </td>
        <td>
    <select class="form-control">
      <option>广告资源1</option>
      <option>广告资源2</option>
      <option>广告资源3</option>
    </select>
        </td>
        <td>
    <a href="<%=  edit_advertise_strategy_path(strategy) %>">修改</a>
    <%= link_to '删除', strategy, method: :delete, data: { confirm: '你确定要删除?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="panel-footer">
    <%=  paginate @advertise_strategies %>
  </div>
      </div>
