<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advertise_strategy.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @advertise_strategy.user_id %>
</p>

<p>
  <strong>Front ad:</strong>
  <%= @advertise_strategy.front_ad %>
</p>

<p>
  <strong>End ad:</strong>
  <%= @advertise_strategy.end_ad %>
</p>

<p>
  <strong>Pause ad:</strong>
  <%= @advertise_strategy.pause_ad %>
</p>

<p>
  <strong>Float ad:</strong>
  <%= @advertise_strategy.float_ad %>
</p>

<p>
  <strong>Scroll ad:</strong>
  <%= @advertise_strategy.scroll_ad %>
</p>

<p>
  <strong>Data:</strong>
  <%= @advertise_strategy.data %>
</p>

<%= link_to 'Edit', edit_advertise_strategy_path(@advertise_strategy) %> |
<%= link_to 'Back', advertise_strategies_path %>
