<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @notification.is_read %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>

<p>
  <strong>Target:</strong>
  <%= @notification.target_id %>
</p>

<p>
  <strong>Target type:</strong>
  <%= @notification.target_type %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
