<p id="notice"><%= notice %></p>

<p>
  <strong>uid:</strong>
  <%= @user.uid %>
</p>
<p>
    <%= image_tag(@user.avar_url) if @user.avar? %>
</p>

<div>
  <%= link_to 'space stat', user_space_stat_path(@user) %> |

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
