<%= render 'admin/nav'  %>
      <div class="tab-panel current" id="manage-user">
      	<div class="panel-header clearfix">
	  <form class="pull-right" role="search">
            <div class="form-group right-inner-addon">
              <input class="form-control" placeholder="模版名称/用户名" type="search">
	      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
	  </form>
	  <a type="button" class="btn btn-green" href="<%=  new_user_path %>">添加</a>
	  <button type="button" class="btn btn-blue">编辑</button>
	  <button type="button" class="btn btn-gray">删除</button>
	</div>
        <table class="table table-hover panel-table">
	  <thead>
	    <tr>
	      <th></th>
	      <th>编号</th>
	      <th>用户名称</th>
	      <th>登录IP</th>
	      <th>最后登陆时间</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @users.each do |user | %>
	    <tr>
	      <td>
		<input type="checkbox">
	      </td>
	      <td><%= user.id %></td>
	      <td><%=  user && user.account && user.account.username %></td>
	      <td><%=  user && user.account && user.account.last_sign_in_ip %></td>
	      <td><%=  user && user.account && user.account.last_sign_in_at %></td>
	      <td>
		<a href="<%= edit_user_path(user)  %>">修改</a>
		<%= link_to '删除', user, method: :delete, data: { confirm: '你确定要删除?' } %>
		<a href="#">冻结</a>
	      </td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
	<div class="panel-footer">
		<%=  paginate @users %>
	</div>
      </div>