<%= render 'user_videos/nav' %>

<div id="video-list" class="panel is-current">
    <div class="panel-header clearfix">
    <%= form_for :search, :method => :get, :html => {:class => 'l-right clearfix', :role => 'search'} do |f| %>
            <div class="form-input-addon">
                <input type="search" placeholder="视频名称"><i class="fa fa-search"></i>
            </div>
            <div class="datepicker-duration">
                <input type="date" placeholder="2015/05/01" class="datepicker-start">至
                <input type="date" placeholder="2015/05/01" class="datepicker-end">
            </div>
            <%= f.collection_select :video_list_id, VideoList.visible(current_user), :id, :name, {:include_blank => '全部列表', :selected => @video_list_id}, :class => 'select2-single' %>

            <% end %>
        <a href="<%= new_user_video_path %>" class="link-button-success"  data-no-turbolink='true'>上传文件</a>
    </div>
    <div class="panel-content">
        <div class="video-list">
          <% @user_videos.each do |user_video| %>
          <div class="video-list-item">
                <label>
                    <div class="clearfix">
                        <input type="checkbox" class="l-right">
                    </div>
                    <div class="row">
                        <div class="cols large-3">
                          <a href="">
                            <% if user_video.original_video.snapshots.present? %>
                            <%= image_tag user_video.original_video.snapshots.first.get_full_url, :class => 'img-rounded', :alt => '截图制作中' %>
                            <% else %>
                            <%= image_tag '', :class => 'img-rounded', :alt => '截图制作中' %>
                            <% end %>
                        </a>
                      </div>
                        <div class="cols large-9">
                            <div class="row">
                                <div class="cols large-12">
                                  <dl>
                                    <dt>名称:</dt>
                                    <dd><%= user_video.video_name %></dd>
                                  </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cols large-4">
                                    <dl>
                                        <dt>状态:</dt>
                                        <dd><%= user_video.status_str %></dd>
                                      </dl>
                                </div>
                                <div class="cols large-8">
                                    <dl>
                                        <dt>TAG:</dt>
                                        <dd>TAG1</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cols large-4">
                                    <dl>
                                        <dt>视频大小:</dt>
                                        <dd><%= format_file_size(user_video.original_video.size) %></dd>
                                      </dl>
                                </div>
                                <div class="cols large-8">
                                    <dl>
                                        <dt>时长:</dt>
                                        <dd>
                                          <% if user_video.original_video && user_video.original_video.duration %>
                                          <%= user_video.original_video.duration.to_time %>
                                          <% else %>
                                          未知
                                          <% end %>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cols large-4">
                                    <dl>
                                        <dt>拥有者:</dt>
                                        <dd><%= user_video.creator && user_video.creator.nickname %></dd>
                                      </dl>
                                </div>
                                <div class="cols large-8">
                                    <dl>
                                        <dt>ID:</dt>
                                        <dd><%= user_video.original_video.uuid %></dd>
                                      </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cols large-8">
                                    <dl>
                                        <dt>视频文件:</dt>
                                        <dd><%= user_video.file_name %></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cols large-12 btn-group-inline">
                                 <%= link_to '编辑', edit_user_video_path(user_video), :class => 'link-button-info', 'data-no-turbolink' => 'true' %>
                                  <a href="#" class="link-button-info">发布</a>
                                  <%= link_to '剪辑', clip_user_video_path(user_video), :class => 'link-button-info', 'data-no-turbolink' => 'true' %>
                                  <%= link_to '删除', user_video_path(user_video),  :class => 'link-button-info', method: :delete, data: { confirm: '你确定要删除?' } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        <% end %>
        </div>
    </div>
</div>
