<% javascript 'lib/tmpl.min' %>
<% javascript 'lib/jquery/jquery.ui.widget' %>
<% javascript 'lib/jquery/jquery.iframe-transport' %>
<% javascript 'lib/jquery/jquery.fileupload' %>
<% javascript '/mms/js/muti_upload.js' %>
<% style '/mms/css/main.add-on.css' %>

<%= render 'user_videos/nav' %>
<%= form_tag  "#{upload_server}",  :multipart => true, :id => "fileupload"   do %>			
<div id="token_url" style="display:none"><%= "/user_videos/get_token" %></div>
<div id="video-upload" class="tab-panel current">
    <table>
        <thead>
            <tr>
                <th>视频名称</th>
                <th>视频分类</th>
                <th>转码方案</th>
                <th>文件大小</th>
                <th>上传时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="upload_files">
        </tbody>
    </table>
    <div class="panel-footer">
        <button class="btn-purple fileinput-button">
        	<span>选择文件</span>
        	<%= file_field_tag "files[]", 'multiple' => true %>
        </button>
        <button class="btn-green" id="up_btn">上传文件</button>
    </div>
</div>
<% end %>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr>
            <td class="file_name">{%= formatFilename(file.name) %}</td>
            <td class="file_categary">
               <%= select_tag('file_categary', options_for_select(VideoList.uploadable(current_user).collect{|f| [f.name, f.id]}), id: '') %>
            </td>
            <td class="file_strategy">
               <%= select_tag('file_categary', options_for_select(TranscodingStrategy.visible(current_user).collect{|f| [f.name, f.id]}), id: '') %>
            </td>
            <td class="file_size">{%= formatFileSize(file.size) %}</td>
            <td class="file_time">{%=  formatDay() %}</td>
            <td class="status">
	            <div class="upload_status" >
	            		等待上传
	            </div>
	            <div class="bar" style="height: 4px; display:none">
		            <div class="process_bar" style="width:0%;"></div>
	            </div>
	            <div class="bitrate" style="height: 15px; display:none"></div>
            </td>
            <td class="operation">
	            <a herf="javascript:void();" class="start">上传</a>
	            <a herf="javascript:void();" class="cancel">取消</a>
	            <a herf="javascript:void();" class="remove" style="display: none">移除</a>
            </td>
            </tr>
{% } %}
</script>
