<%= render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-template">
  <h1>upload new video</h1>

  <%= form_for :user_video, :html => {:multipart => true}, :url => user_videos_path(:user_video, format: :html) do |f| %>
      <p>
        <span>name:</span>
        <%= f.text_field :video_name %>

      </p>

      <p>
        <%= f.file_field :video %>

      </p>

      <p>
        <span>strategy:</span>
        <%= f.collection_select(:default_transcoding_strategy, TranscodingStrategy.visiable(current_user), :id, :name) %>
      </p>

      <p>
        <%= f.submit 'Upload' %>

      </p>
  <% end %>

</div>