<%= render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-template">
  <div class="panel-links">
    <%= link_to '&lt;&lt; 返回视频列表'.html_safe, '/video_product_groups', :class => 'btn-return-link' %>
  </div>

  <div class="form-group clearfix">
    <label class="col-md-5 control-label text-center">上传新视频</label>
  </div>

  <%= form_for :user_video, :html => {:multipart => true, class: "form-horizontal"}, :url => user_videos_path(:user_video, :format => :html) do |f| %>
  <div class="form-group">
    <%= f.label :视频名称,  :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :video_name ,  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :视频文件,  :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.file_field :video,  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :发布方案,  :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.select :publish_strategy, @publish_strategy, {}, {:class => 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :转码方案,  :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.collection_select :default_transcoding_strategy, TranscodingStrategy.visiable(current_user), :id, :name, {}, {:class => 'form-control' } %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit '上传', :class => 'btn btn-info text-center' %>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $("#user_video_publish_strategy").change(function(e) {
         if (this.value == 2) {
             $("#user_video_default_transcoding_strategy").parent().parent().show();
         } else {
             $("#user_video_default_transcoding_strategy").parent().parent().hide();
         }
      });
      $("#user_video_publish_strategy").change();
  })

</script>