<%= render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-solution">

  <div class="panel-links">
    <%= link_to '&lt;&lt; 返回视频列表'.html_safe, video_product_groups_path, :class => 'btn-return-link' %> |
  </div>

  <h1><%= @user_video.video_name %></h1>
  <div>
    <% if @user_video.GOT_LOW_RATE? %>

        <% style '/player1/video-js.css' %>
        <% style '/player1/videojs.watermark.css' %>
        <% javascript '/player1/video.js' %>
        <% javascript '/player1/videojs.watermark.js' %>
        <script>
            videojs.options.flash.swf = "/player1/video-js.swf";
        </script>

        <video id="example_video_1" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled" controls preload="none" width="426" height="240"
               data-setup="{}">
          <source src="<%= @user_video.mini_video.get_full_url %>" type='video/mp4'/>
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    <% end %>
  </div>

</div>




<div>
  <% if current_user.admin? %>
      <% VideoProductGroup.need_check.each do |g| %>
          uesr: <%= g.owner.nickname %><br/>
          video product: <%= g.name %><br/>
          status: <%= g.check_status %><br/>
          <%= form_for g, :url => check_video_product_group_path(g) do |f| %>
              <%= f.button :accept, :name => :check_result, :value => VideoProductGroup::CHECK_STATUS::ACCEPTED %>
              <%= f.button :reject, :name => :check_result, :value => VideoProductGroup::CHECK_STATUS::REJECT %>
              <%= f.button :pend, :name => :check_result, :value => VideoProductGroup::CHECK_STATUS::PENDING %>
          <% end %>
          <table>
            <tr>
              <% g.snapshots.each do |snapshot| %>
                  <td>
                    <% if snapshot.FINISHED? %>
                        <%= image_tag snapshot.get_full_url, :style => "width:180px;" %>
                    <% else %>
                        截图制作中
                    <% end %>
                  </td>
              <% end %>
            </tr>
            <tr>
              <% g.snapshots.each do |snapshot| %>
                  <td>
                    <%= snapshot.time.to_i.to_time %>
                  </td>
              <% end %>
            </tr>
          </table>
          <br/>
      <% end %>
  <% end %>
</div>
