<h1>Video show</h1>
<span>id:</span><%= @user_video.id %>
<div>
  <% if @user_video.GOT_LOW_RATE? %>
      <span><%= @user_video.mini_video.transcoding.name %>:</span>
      <%= link_to 'preview', @user_video.mini_video.get_full_url %><br/>
      <video id="example_video_1" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled" controls preload="none" width="426" height="240"
             data-setup="{}">
        <source src="<%= @user_video.mini_video.get_full_url %>" type='video/mp4'/>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
  <% end %>
</div>
<br/>
<span>slice</span>
<div>
  <%= form_for :product_data, :url => video_product_groups_path(format: :json) do |f| %>
      <%= f.hidden_field :user_video_id, :value => @user_video.id %>
      <span>name: </span>
      <%= f.text_field :name, value: 'hello ffmpeg' %>
      <span>data: </span>
      <%= f.text_area :cut_points, value: '[{"user_video_id":'+@user_video.id.to_s+',"name":"lala","start_time":"0.123","stop_time":"9.432"},{"user_video_id":'+@user_video.id.to_s+',"name":"lala","start_time":"4.989","stop_time":"9.2"},{"user_video_id":'+@user_video.id.to_s+',"name":"lala","start_time":"1.652","stop_time":"11.109"}]' %>
      <br/>
      <% if @user_video.default_transcoding_strategy.present? %>
          <%= f.check_box :select_strategy %>
          <%= f.label :select_strategy, 'change strategy' %>
      <% end %>
      <%= f.collection_select :strategy_id, TranscodingStrategy.visiable(current_user), :id, :name %>
      <%= f.submit 'Submit' %>
  <% end %>
</div>
<div>
  <% @user_video.video_product_groups.each do |g| %>
      <div>
        <%= g.name %><br/>
        <%= g.get_status %><br/>
        <% if g.mkv_video.present? %>
            <table>
              <tr>
                <% g.mkv_video.snapshots.each do |snapshot| %>
                    <td>
                      <% if snapshot.FINISHED? %>
                          <%= image_tag snapshot.get_full_url, :style => "width:180px;" %>
                      <% else %>
                          截图制作中
                      <% end %>
                    </td>
                <% end %>
              </tr>
              <tr>
                <% g.mkv_video.snapshots.each do |snapshot| %>
                    <td>
                      <%= snapshot.time.to_i.to_time %>
                    </td>
                <% end %>
              </tr>
            </table>
        <% end %>
        <table>
          <tr>
            <th>id</th>
            <th>status</th>
            <th>trans name</th>
            <th>download</th>
          </tr>
          <% g.video_products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= product.status %></td>
                <td><%= product.transcoding.name %></td>
                <td>
                  <% if product.FINISHED? %>
                      <%= link_to 'download', download_video_product_path(product) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
  <% end %>
</div>
