<div class="panel is-current">
    <div class="panel-header clearfix">
        <div class="l-right">还没有账号？
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "注册", new_registration_path(resource_name), :class => 'link-button-success' %>
            <% end -%>

        </div>
    </div>
    <div class="panel-content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
                <div class="cols large-6 offset-by-2">
                    <div class="row">
                        <div class="cols large-4 l-text-right">使用其他账号登录:</div>
                        <div class="cols large-8">
                            <%= link_to "QQ账号登录",  account_omniauth_authorize_path(:tqq) %>
                            <%= link_to "微博账号登录",  account_omniauth_authorize_path(:weibo) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cols large-4 l-text-right">
                            <label for="user-email">邮箱:</label>
                        </div>
                        <div class="cols large-8">
                            <%= f.text_field :email, :id => 'user-email' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cols large-4 l-text-right">
                            <label for="user-password">密码:</label>
                        </div>
                        <div class="cols large-8">
                            <%= f.password_field :password, autocomplete: "off", :id => 'user-password' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cols large-8 offset-by-4">
                            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                                <%= link_to "忘记密码？", new_password_path(resource_name) %>
                            <% end -%>
                            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                                <%= link_to "没有收到确认邮件?", new_confirmation_path(resource_name) %><br />
                            <% end -%>
                            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                                <%= link_to "没有收到解锁邮件?", new_unlock_path(resource_name) %><br />
                            <% end -%>

                        </div>
                    </div>
                    <div class="row form-submit">
                        <div class="cols large-8 offset-by-4">
                            <button type="submit" class="btn-success">登录</button>
                            <a href="/" class="link-button-cancel">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

    </div>
</div>
