<%= form_for(@logo) do |f| %>
  <% if @logo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

      <ul>
      <% @logo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.number_field :uid %>
  </div>
  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :filemime %><br>
    <%= f.text_field :filemime %>
  </div>
  <div class="field">
    <%= f.label :filesize %><br>
    <%= f.number_field :filesize %>
  </div>
  <div class="field">
    <%= f.label :origname %><br>
    <%= f.text_field :origname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
