<%= form_for(@logo) do |f| %>
  <% if @logo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

      <ul>
      <% @logo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.file_field :uri %>
    <%= f.hidden_field :uri_cache %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>200 * 200 </th>
          <th>100 * 100</th>
          <th>50 * 50</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag(@logo.uri) if @logo.uri? %></td>
          <td><%= image_tag(@logo.uri_url(:normal)) if @logo.uri? %></td>
          <th><%= image_tag(@logo.uri_url(:thumb)) if @logo.uri? %></th>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
