<%=  render 'players/nav' %>
<div class="tab-panel current" id="add-player">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @logo.name %>
</p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>200 * 200 </th>
          <th>100 * 100</th>
          <th>50 * 50</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag(@logo.uri) if @logo.uri? %></td>
          <td><%= image_tag(@logo.uri_url(:normal)) if @logo.uri? %></td>
          <th><%= image_tag(@logo.uri_url(:thumb)) if @logo.uri? %></th>
        </tr>
      </tbody>
    </table>
    <hr>
<%= link_to 'Edit', edit_logo_path(@logo) %> |
<%= link_to 'Back', logos_path %>
</div>
