<% style 'lib/videojs/video-js' %>
<% style 'lib/videojs/videojs.watermark' %>
<% javascript 'lib/videojs/video.min' %>
<% javascript 'lib/videojs/videojs.watermark' %>
<script>
videojs.options.flash.swf = "/player1/video-js.swf";
</script>
<div class="panel-content">
    <%= form_for(@player, html: {class: "form-horizontal"}) do |f| %>
        <% if @player.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

                <ul>
                    <% @player.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="row">
            <div class="cols large-6">
                <div class="row form-title">
                    <div class="cols large-4 l-text-right"><%= t controller.action_name %>播放器</div>
                </div>
                <div class="row">
                    <div class="cols large-4 l-text-right">
                        <label for="player-name">播放器名称:</label>
                    </div>
                    <div class="cols large-8">
                        <%= f.text_field :name, class: 'ntrol' %>
                    </div>
                </div>
                <div class="row">
                    <div class="cols large-4 l-text-right">
                        <label for="player-name">播放器颜色:</label>
                    </div>
                    <div class="cols large-8">
                        <label class="radio-inline">
                            <%= check_box_tag("player", "color", "black", :checked => true) %> 黑色
                        </label>
                        <label class="radio-inline">
                            <%= check_box_tag("player", "color", "classical") %> 经典
                        </label>
                        <label class="radio-inline">
                            <%= check_box_tag("player", "color", "other") %> 其它
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="cols large-4 l-text-right">
                        <label for="player-name">LOGO:</label>
                    </div>
                    <div class="cols large-8">
                        <%= f.select :logo_id, @logos, {}, {:class => 'form-control'} %>
                    </div>
                </div>
                <div class="row">
                    <div class="cols large-4 l-text-right">
                        <label for="player-name">LOGO的位置:</label>
                    </div>
                    <div class="cols large-8">
                        <%= f.select :logo_position, {
                            '右上角' => :top_right,
                            '左上角' => :top_left,
                            '右下角' => :bottom_right,
                            '左下角' => :bottom_left
                        }, {}, {:class => 'form-control'} %>          
                </div>
            </div>        
            <div class="row">
                <div class="cols large-4 l-text-right">
                    <label for="player-name">自动播放:</label>
                </div>
                <div class="cols large-8">
                    <%= f.check_box :autoplay %>

                </div>
            </div>    
            <div class="row">
                <div class="cols large-4 l-text-right">
                    <label for="player-name">分享功能:</label>
                </div>
                <div class="cols large-8">
                    <%= f.select :share, {:打开 => true, :关闭 => false}, {}, {:class => 'form-control'} %>

                </div>
            </div>    
            <div class="row">
                <div class="cols large-4 l-text-right">
                    <label for="player-name">全屏功能:</label>
                </div>
                <div class="cols large-8">
                    <%= f.check_box :full_screen %>

                </div>
            </div>    
            <script type="text/javascript">
jQuery(document).ready(function($) {
        $('#player_size').on('change', function(e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var size = valueSelected.split('|');
            var width = parseInt(size[0]);
            var height = parseInt(size[1]);
            $("#player_width").val(width);
            $("#player_height").val(height);
            });
        });
            </script>
            <div class="row">
                <div class="cols large-4 l-text-right">
                    <label for="player-name">长宽:</label>
                </div>
                <div class="cols large-8">
                    <%= select_tag(:player_size, options_for_select(Settings.player.sizes.invert.to_a, "#{@player.width}|#{@player.height}"), {:class => 'form-control player_size'}) %>
                    <%= f.hidden_field :width, :id => 'player_width' %>
                    <%= f.hidden_field :height, :id => 'player_height' %> 
                </div>
            </div>    
            <div class="row form-submit">
                <div class="cols large-8 offset-by-4">
                    <button type="submit" class="btn-success">保存</button>
                    <a data-panel="manage-player" href="javascript:void(0);" class="link-button-cancel btn-show-panel">取消</a>
                </div>
            </div>
        </div>
    </div>

<% end %>
<script type="text/javascript">
// jQuery(document).ready(function($) {
//         videojs("wgcloud_video_1",  {width: '500px'})
//         })
</script>
<!-- <div class="col-md-6">
  <video id="wgcloud_video_1" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled" width="454" controls preload="meta">
    <source src="http://static.smartisanos.cn/common/video/t1-ui.mp4" type='video/mp4'/>

    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
  <div class="vjs-big-play-button" role="button" aria-live="polite" tabindex="0" aria-label="play video">
    <span aria-hidden="true"></span>


  </div>
</div>
 -->
    </div>
