<nav class="nav-tab">
  <ul class="nav-square clearfix">
    <li class="current">
      <a href="#add-player">
        <span class="square"></span>
        新增播放器
      </a>
    </li>
    <li>
      <a href="#manage-player">
        <span class="square"></span>
        播放器管理
      </a>
    </li>
    <li>
      <a href="#logo">
        <span class="square"></span>
        LOGO
      </a>
    </li>
    <li>
      <a href="#upload-logo">
        <span class="square"></span>
        上传LOGO
      </a>
    </li>
  </ul>
      </nav>
<div class="tab-panel current" id="add-player">
  <div class="panel-header clearfix">
    <button type="button" class="btn btn-green">添加播放器</button>
  </div>
  <table class="table table-hover panel-table">
    <thead>
      <tr>
        <th>播放器名称</th>
        <th>播放器ID</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player|  %>
      <tr>
        <td><%= player.name %></td>
        <td>1234567890QWER</td>
        <td><%= player.user && player.user.nicename %></td>
        <td><%=  player.created_at %></td>
        <td>
    <%= link_to '预览', player %>
     <%= link_to '修改', edit_player_path(player) %>
     <td><%= link_to '删除', player, method: :delete, data: { confirm: '你确定要删除?' } %></td>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="panel-footer">
    <nav class="panel-table-pagination">
      <ul class="pagination">
        <li>
    <a href="#" aria-label="Previous">
      <span aria-hidden="true">«</span>
    </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
    <a href="#" aria-label="Next">
      <span aria-hidden="true">»</span>
    </a>
        </li>
      </ul>
    </nav>
  </div>
      </div>
<%= link_to 'New Player', new_player_path %>
