<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uid</th>
      <th>Color</th>
      <th>Logo</th>
      <th>Logo position</th>
      <th>Autoplay</th>
      <th>Share</th>
      <th>Full screen</th>
      <th>Width</th>
      <th>Height</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.user_id %></td>
        <td><%= player.color %></td>
        <td><%= player.logo %></td>
        <td><%= player.logo_position %></td>
        <td><%= player.autoplay %></td>
        <td><%= player.share %></td>
        <td><%= player.full_screen %></td>
        <td><%= player.width %></td>
        <td><%= player.height %></td>
        <td><%= player.data %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
