<%=  render 'players/nav' %>
<div class="tab-panel current" id="add-player">
<p id="notice"><%= notice %></p>
<h3>Video setup preview</h3>
<%= render 'common/player'  %>    
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>Color:</strong>
  <%= @player.color %>
</p>

<p>
  <strong>Logo:</strong>
  <%=  image_tag(@player.logo.uri) if @player.logo &&  @player.logo.uri? %>
    <%=  %>
</p>

<p>
  <strong>Autoplay:</strong>
  <%= @player.autoplay %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>

</div>