<%=  render 'players/nav' %>
<div class="tab-panel current" id="add-player">
<p id="notice"><%= notice %></p>
  <video id="example_video_1" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled" controls preload="none" width="852" height="480"
      data-setup="{}">
    <source src="http://static.smartisanos.cn/common/video/t1-ui.mp4" type='video/mp4' />


   <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
    <div class="vjs-big-play-button" role="button" aria-live="polite" tabindex="0" aria-label="play video"><span aria-hidden="true"></span></div>

    
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>Color:</strong>
  <%= @player.color %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @player.logo &&  image_tag(@player.logo.uri) if @player.logo.uri? %>
    <%=  %>
</p>

<p>
  <strong>Autoplay:</strong>
  <%= @player.autoplay %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>

</div>