<%= form_for(@transcoding_strategy, html:{class: 'form-horizontal'}) do |f| %>
<div class="panel-content">
  <div class="panel-form">
    <div class="form-group">
      <div class="form-label form-title">
        <label><%= t controller.action_name %>转码方案</label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-label">
        <label for="solution-name">方案名称:</label>
      </div>
      <div class="form-field">
        <%= f.text_field :name  %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-label">
        <label for="template-select">模版选择:</label>
      </div>
      <div class="form-field">
     <%= f.select :transcodings,  options_for_select(Transcoding.visible(current_user).collect {|p| [ p.name, p.id ] }, @existing_transcodings.collect {|p| p.id  }), {}, {:multiple => true,  style: 'min-height: 100px',  class: "input-lg"} %>

      </div>
    </div>
    <div class="form-group">
      <div class="form-field form-offset">
        <dl>
          <dt>说明:</dt>
          <dd>qweqweqweqweqweqweqweqweqwe</dd>
        </dl>
      </div>
    </div>
    <div class="form-group">
      <div class="form-field form-submit">
        <%= f.submit '保存', :class => 'btn btn-green' %>
        <a class="btn btn-gray" href="<%= transcoding_strategies_path %>">取消</a>
      </div>
    </div>
  </div>
</div>
<% end %>
