<%= render 'user_videos/nav' %>
<div id="video-transcoding-solution" class="tab-panel current">
  <div class="panel-header clearfix">
    <form class="clearfix">
      <div class="right-inner-addon">
        <input type="search" placeholder="模版名称/用户名"><i class="fa fa-search"></i>
      </div>
      <div>
        <select>
          <option>转码模版1
          </option>
          <option>转码模版2
          </option>
          <option>转码模版3
          </option>
        </select>
      </div>
    </form>
    <button  class="btn-green"><%= link_to '添加转码方案', new_transcoding_strategy_path, 'style' => 'color:white', 'data-no-turbolink' => true %>
</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>模版方案</th>
        <th>转码模版</th>
        <th>创建用户</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <% @transcoding_strategies.each do |transcoding_strategy| %>
      <tr>
        <td><%= transcoding_strategy.id  && transcoding_strategy.id.to_s(36) %></td>
        <td><%= transcoding_strategy.name %></td>
        <td>
          <% transcoding_strategy.transcodings.each do |transcoding | %>
          <a href="<%=  transcoding_path(transcoding) %>">
            <%= transcoding && transcoding.name %> 
          </a>
          <%= ', ' if transcoding_strategy.transcodings.last.name != transcoding.name %>
          <% end %>
        </td>
          <td><%=  transcoding_strategy.owner &&  transcoding_strategy.owner.nickname %></td>
        <td><%=  transcoding_strategy.created_at && transcoding_strategy.created_at.strftime("%Y/%m/%d %H:%M")   %></td>
        <td><%=  transcoding_strategy.updated_at && transcoding_strategy.updated_at.strftime("%Y/%m/%d %H:%M")   %></td>
        <td>
            <a href="<%= edit_transcoding_strategy_path(transcoding_strategy)  %>">修改</a>
            <%= link_to '删除', transcoding_strategy, method: :delete, data: { confirm: '你确定要删除?' } %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="panel-footer">
    <%  paginate @transcoding_strategies %>
  </div>
</div>
