<%= form_for @water_mark_template do |f| %>
    <div class="form-inputs">
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %><br>
      </div>
      <div>
        <%= f.label :refer_pos %>
        <%= f.select :refer_pos, @refer_poses, {}, :class => 'form-control' %>
      </div>
      <div>
        <%= f.label :text %>
        <%= f.text_field :text %>
      </div>
      <div>
        <%= f.label :font_size %>
        <%= f.number_field :font_size %>
      </div>
      <div>
        <%= f.label :transparency %>
        <%= f.number_field :transparency %>
      </div>
      <div>
        <%= f.label '立即启用' %>
        <%= f.check_box :enabled %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
