<div class="panel-content">
  <%= form_for @water_mark_template do |f| %>

  <div class="row form-title">
    <div class="cols large-5 offset-by-2"><%= t controller.action_name %>水印</div>
  </div>

  <% if @water_mark_template.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @water_mark_template.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="cols large-2 l-text-right">
      <%= f.label :name %>
    </div>
    <div class="cols large-4">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="cols large-2 l-text-right">
      <%= f.label :refer_pos %>
    </div>
    <div class="cols large-4">
      <%= f.select :refer_pos, @refer_poses, {}, :class => 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="cols large-2 l-text-right">
      <%= f.label :text %>
    </div>
    <div class="cols large-4">
      <%= f.text_field :text %>
    </div>
  </div>
  <div class="row">
    <div class="cols large-2 l-text-right">
      <%= f.label '立即启用' %>
    </div>
    <div class="cols large-4">
      <%= f.check_box :enabled %>
    </div>
  </div>
  <div class="row form-submit">
    <div class="cols large-6 offset-by-2">
      <button type="submit" class="btn-success">保存</button>
      <a data-panel="manage-player" href="<%= water_mark_templates_path %>" class="link-button-cancel btn-show-panel">取消</a>
    </div>
  </div>
  <% end %>
</div>

