<%= render 'admin/nav' %>

<%= paginate @video_product_groups %>

<div class="video-check">
  <% @video_product_groups.each do |g| %>
      <div class="video-list-item video-check-list">
        <label>
          <input type="checkbox" style="display:none;">

          <div class="video-abstract">
            <% if g.CREATED? %>
                <%= image_tag '', :class => 'img-rounded', :alt => '等待剪辑' %>
            <% elsif g.snapshots.present? %>
                <%= image_tag g.snapshots.first.get_full_url, :class => 'img-rounded', :alt => '截图制作中' %>
            <% else %>
                <%= image_tag '', :class => 'img-rounded', :alt => '截图制作中' %>
            <% end %>
          </div>
          <div class="video-details">
            <div class="dl-table-display">
              <dl>
                <dt>视频名称:</dt>
                <dd><a href="<%= video_product_group_path(g) %>"><%= g.name %></a></dd>
              </dl>
              <dl>
                <dt>创建者:</dt>
                <dd><%= g.creator.nickname %></dd>
              </dl>
              <dl>
                <dt>时长:</dt>
                <dd><%= g.duration_str %></dd>
              </dl>
              <dl>
                <dt>审核状态:</dt>
                <dd><%= g.check_status_str %></dd>
              </dl>
              <dl>
                <dt>&nbsp;</dt>
                <dd></dd>
              </dl>

              <table>
                <tr>
                  <% g.snapshots.each do |snapshot| %>
                      <td>
                        <% if snapshot.FINISHED? %>
                            <a href="<%= snapshot.get_full_url %>" data-lightbox="roadtrip-<%= g.id %>" data-title="<%= snapshot.time.to_time %>">
                              <%= image_tag snapshot.get_full_url, :class => 'snapshot mini' %>
                            </a>
                        <% else %>
                            截图制作中
                        <% end %>
                      </td>
                  <% end %>
                </tr>
                <tr>
                  <% g.snapshots.each do |snapshot| %>
                      <td>
                        <%= snapshot.time.to_time %>
                      </td>
                  <% end %>
                </tr>
              </table>
              <%= form_for g, :url => video_product_group_check_status_path(g) do |f| %>
                  <%= f.button :通过, :name => :check_result, :value => VideoProductGroup::CHECK_STATUS::ACCEPTED, :class => 'btn btn-blue' %>
                  <%= f.button :拒绝, :name => :check_result, :value => VideoProductGroup::CHECK_STATUS::REJECT, :class => 'btn btn-blue' %>
                  <%= f.button :稍后处理, :name => :check_result, :value => VideoProductGroup::CHECK_STATUS::PENDING, :class => 'btn btn-blue' %>
              <% end %>
            </div>
          </div>
        </label>
      </div>
  <% end %>
</div>

<%= paginate @video_product_groups %>
