<div class="header">
        <div class="container clearfix">
          <div class="brand"><a href="index.html"><%= Settings.title %></a><span><%= Settings.mms.domain %></span></div>
          <div class="user-options">
            <% if current_user %>
            <div class="user-name">
              <div id="user-name"><i class="fa fa-user"></i><%=  @current_user && @current_user.nickname %></div>
              <ul id="user-menu" tabindex="1" class="user-menu" style="display: none;">
                <li><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-fw fa-pencil"></i>用户设置</a></li>
                <li><a href="#"><i class="fa fa-fw fa-exclamation-circle"></i>账单信息</a></li>
                <li><a href="<%= notifications_path %>"><i class="fa fa-fw fa-bell-o"></i>消息中心</a></li>
                <li><%= raw link_to('<i class="fa fa-fw fa-power-off"></i>退出'.html_safe, destroy_account_session_path, :method => :delete) %></li>
              </ul>
            </div>
        <%= raw link_to('<i class="fa fa-power-off"></i>'.html_safe, destroy_account_session_path, :method => :delete) %> 
                <% else %>
        <%= link_to('註冊', new_registration_path(:account)) %> 
        <%= link_to('登入', new_session_path(:account)) %>
        <% end %>

          </div>
        </div>
      </div>