      <header>
        <div class="container clearfix">
          <div class="brand l-left clearfix"><img src="<%= asset_path('brand.png') %>" alt="brand" class="l-left">
            <div><a href="/" class="brand-link"><span><%= Settings.title %></span><br><span><%= Settings.mms.domain %></span></a></div>
          </div>
          <div class="admin-bar l-right">
          <% if current_user %>
            <a href="<%=  notifications_path %>"><i class="fa fa-bell-o"></i></a>
            <button class="btn-icon-text">
              <div id="user-name"><i class="fa fa-user"></i><%=  @current_user && @current_user.nickname %></div>
              <ul id="user-dropdown" class="dropdown">
                <li><a href="<%= edit_user_path(current_user) %>"><i class="fa fa-fw fa-pencil"></i>用户设置</a></li>
                <li><a href="#"><i class="fa fa-fw fa-exclamation-circle"></i>账单信息</a></li>
              </ul>
            </button>
            <%= raw link_to('<i class="fa fa-power-off"></i>'.html_safe, destroy_account_session_path, :method => :delete) %> 
            <% else %>
            <%= link_to('註冊', new_registration_path(:account)) %> 
            <%= link_to('登入', new_session_path(:account)) %>
            <% end %>
          </div>

        </div>
      </header>