<% if current_user.present? %>
<nav class="navbar" id="navbar">
 <form class="navbar-form navbar-right" role="search">
  <div class="form-group right-inner-addon">
    <input type="search" class="form-control" placeholder="视频搜索">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
</form>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="<%= 'active' if top_menu_active :home %>">
    <a href="/" role="tab">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      首页
    </a>
  </li>
  <li role="presentation"  class="<%= 'active' if top_menu_active :video %>">
    <a href="<%= video_product_groups_path %>" role="tab">
      <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
      视频管理
    </a>
    <ul>
      <li>
        <a class="navbar-link" href="video.html#video-upload">上传视频</a>
      </li>
      <li>
        <a class="navbar-link" href="video.html#video-list">视频列表</a>
      </li>
      <li>
        <a class="navbar-link" href="video.html#video-transcoding-template">转码模板</a>
      </li>
      <li>
        <a class="navbar-link" href="video.html#video-transcoding-solution">转码方案</a>
      </li>
    </ul>
  </li>
  <li role="presentation"  class="<%= 'active' if top_menu_active :ad %>">
    <a href="<%= advertise_strategies_path %>" role="tab">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      广告管理
    </a>
    <ul>
      <li>
        <a class="navbar-link" href="advertisement.html#advertisement-solution">广告方案</a>
      </li>
      <li>
        <a class="navbar-link" href="advertisement.html#advertisement-resource">广告资源</a>
      </li>
    </ul>
  </li>
  <li role="presentation"  class="<%= 'active' if top_menu_active :player %>">
    <a href="<%= players_path %>" role="tab">
      <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
      点播播放器
    </a>
    <ul>
      <li>
        <a class="navbar-link" href="player.html#add-player">新增播放器</a>
      </li>
      <li>
        <a class="navbar-link" href="player.html#manage-player">播放器管理</a>
      </li>
      <li>
        <a class="navbar-link" href="player.html#logo">LOGO</a>
      </li>
      <li>
        <a class="navbar-link" href="player.html#upload-logo">上传LOGO</a>
      </li>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if top_menu_active :admin %>">
    <a href="<%= admin_path %>" role="tab">
      <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      系统管理
    </a>
    <ul>
      <li>
        <a class="navbar-link" href="system.html#manage-user">用户管理</a>
      </li>
      <li>
        <a class="navbar-link" href="system.html#manage-permission">权限管理</a>
      </li>
      <li>
        <a class="navbar-link" href="system.html#manage-api">API管理</a>
      </li>
      <li>
        <a class="navbar-link" href="system.html#manage-log">操作日志</a>
      </li>
    </ul>
  </li>
</ul>

</nav>
<% end %>
