  <div class="row">
<div class="col-md-10">

<%= form_for(@advertise_resource , html:{class: 'form-horizontal'}) do |f| %>
  <% if @advertise_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertise_resource.errors.count, "error") %> prohibited this advertise_resource from being saved:</h2>

      <ul>
      <% @advertise_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :名称,  :class => "col-md-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name ,  class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :资源类型,  :class => "col-md-3 control-label"  %>
    <div class="col-md-8">
      <%= f.select :ad_type, Settings.advertise_resource.file_type , {}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :广告类型,  :class => "col-md-3 control-label"  %>
    <div class="col-md-8">
      <%= f.select :ad_type, Settings.advertise_resource.use_type , {}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :广告资源,  :class => "col-md-3 control-label" %>
    <div class="col-sm-8">
      <%= image_tag(@advertise_resource.uri_url) if @advertise_resource.uri?  && @advertise_resource.file_type && @advertise_resource.file_type == 'image' %>
      <%= video_tag(@advertise_resource.uri_url, :controls => true) if @advertise_resource.uri?  && @advertise_resource.file_type &&  @advertise_resource.file_type == 'video' %>
      <%= f.file_field :resource %>
      <%= f.file_field :uri %>
      <%= f.hidden_field :uri_cache %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :广告词,  :class => "col-md-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :ad_word ,  class: 'form-control' %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
        <%= f.submit '保存广告资源', :class => 'btn btn-info text-center' %>
    </div>
  </div>                    
  <% end %>
</div>
</div>
