<%= form_for(@advertise_resource) do |f| %>
  <% if @advertise_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertise_resource.errors.count, "error") %> prohibited this advertise_resource from being saved:</h2>

      <ul>
      <% @advertise_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :file_type %><br>
    <%= f.text_field :file_type %>
  </div>
  <div class="field">
    <%= f.label :ad_type %><br>
    <%= f.text_field :ad_type %>
  </div>
  <div class="field">
    <%= f.label :filesize %><br>
    <%= f.number_field :filesize %>
  </div>
  <div class="field">
    <%= f.label :resource %><br>
    <%= image_tag(@advertise_resource.uri_url) if @advertise_resource.uri?  && @advertise_resource.file_type && @advertise_resource.file_type == 'image' %>
<!--       <video id="example_video_1" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled" controls preload="none" width="852" height="480"
      data-setup="{}">
    <source src="<%= @advertise_resource.uri_url %>" type='video/mp4' />


   <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
    <div class="vjs-big-play-button" role="button" aria-live="polite" tabindex="0" aria-label="play video"><span aria-hidden="true"></span></div>
 -->
    <%= video_tag(@advertise_resource.uri_url, :controls => true) if @advertise_resource.uri?  && @advertise_resource.file_type &&  @advertise_resource.file_type == 'video' %>
    <%= f.file_field :uri %>
    <%= f.hidden_field :uri_cache %>
  </div>
  <div class="field">
    <%= f.label :ad_word %><br>
    <%= f.text_area :ad_word %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
