<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8' />
<%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<%= notice_message %>
	</div>

<% if current_account %>
    <%= link_to('登出', destroy_account_session_path, :method => :delete) %> |
    <%= link_to('修改密碼', edit_registration_path(:account)) %>
<% else %>
    <%= link_to('註冊', new_registration_path(:account)) %> |
    <%= link_to('登入', new_session_path(:account)) %>
<% end %>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>

<hr />
<%= yield %>

</body>
</html>
