<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8' />
<%= favicon_link_tag 'favicon.ico' %>
  <!-- video.js must be in the <head> for older IEs to work. -->

  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'site', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link href="/mms/css/main.css" rel="stylesheet" type="text/css">
  <link href="/player1/video-js.css" rel="stylesheet" type="text/css">
  <link href="/player1/videojs.watermark.css" rel="stylesheet" type="text/css">
  <script src="/player1/video.js"></script>
  <script src="/player1/videojs.watermark.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <script>
    videojs.options.flash.swf = "/player1/video-js.swf";
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site">
    <%= render 'common/header' %>

    <div class="content">
      <div class="container">
        <%= render 'common/nav' %>
        <div>
          <%= notice_message %>
        </div>

        <%= yield %>

      </div>
    </div>
    <%= render 'common/footer' %>
  </div>

    <script src="/mms/js/bootstrap.min.js"></script>
    <script src="/mms/js/app.js"></script>
  </body>
</html>
