<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8' />
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
<%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <%= csrf_meta_tags %>
  <style type="text/css">
  body { padding-top: 70px; }
  </style>

</head>
<body>
  <div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
<div style="float: right" class="clearfix">
<% if current_account %>
  <p class="navbar-text">
    <%= link_to('登出', destroy_account_session_path, :method => :delete) %> 
  </p>
  <p class="navbar-text">
    <%= link_to('修改密碼', edit_registration_path(:account)) %>
  </p>
  <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%=  @current_user && @current_user.nicename %></a></p>
<% else %>
  <p class="navbar-text">
    <%= link_to('註冊', new_registration_path(:account)) %> 
  </p>
  <p class="navbar-text">
    <%= link_to('登入', new_session_path(:account)) %>
  </p>
<% end %>
</div>
  </div>
</nav>
  </div>
<!-- <br>
<hr />
 -->
  <div class="container">
<div class="row">
  <div class="col-md-3">
<div class="list-group">
  <a href="/" class="list-group-item active"> 首页</a>
  <a href="<%=  current_user && user_path(@current_user) %>" class="list-group-item">我的主页</a>
  <a href="<%=  current_user && edit_user_path(@current_user) %>" class="list-group-item">个人资料设置</a>
    <%= link_to('修改密码', edit_registration_path(:account), :class => "list-group-item") %> 
    <%= link_to('登出', destroy_account_session_path, :method => :delete, :class => "list-group-item") %> 
</div> 
 </div>
  <div class="col-md-9">
      <div>
    <%= notice_message %>
  </div>

<%= yield %>
</div>
</div>

  </div>
</body>
</html>
